* {
    all: unset;
    font-family: Roboto;
    font-size: 16px;
    background-color: #242630;
}

.wbar_time {
    color: #81d4ee;
}

.wbar_music_author {
    color: #d95d39;
}

.wbar_music_separator{
    color: #e7dfe8;
}

.wbar_music_title {
    color: #e7dfe8;
}
